html,body{
    background-color: black;
    text-align: center;
    
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color:white;
    text-align: center;
}

h6.link{
    color: aquamarine;
    font-size: 16px;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color:white;
}

#copy{
    color:gray;
    text-align: right;
}

.first{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color:gray;
}

#camp{
    padding:0px 0px 20px 0px;
}